body{
    background-color: rgb(255, 255, 233);
    width: 750px;
    text-align: center;
    margin: 0 auto;
    h1{
        width: 750px;
        text-align: center;
        margin:0 auto;
        color: goldenrod;
    }
    h2{
        text-align: center;
        margin-top: 20px;
        width: 750px;
        color: indianred;
    }
    .myfunction{
        border: 5px solid goldenrod;
        background-color: indianred;
        display: inline-table;
        text-align: center;
        margin: 0 auto;
        width:750px;
        image{
            width: 30px;
            height: auto;
            display: inline;
            text-align: center;
            margin: 0 auto;
        }
    }
}